body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.links {
    color: #ffffff;
}

.bold_heading {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}

.dot {
    color: #A92A1D;
}

.heading {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}

.bold {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}


.paragraph {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}


.footer {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.footer-Btext {
    font-weight: 500;
    font-size: 24px;
}

.footer-links {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}

.footer-text {
    font-weight: 400;
    font-size: 18px;
}

.r {
    color: #A92A1D;
}