body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #ffffff;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}

.dot {
    color: #A92A1D;
}

.bold_text {
    font-size: 48px;
    font-weight: 600;
    color: #ffffff;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
}

p {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}

b {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
}

footer {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.footer-Btext {
    font-weight: 500;
    font-size: 24px;
}

.footer-links {
    font-weight: 500;
    font-size: 18px;
}

.footer-text {
    font-weight: 400;
    font-size: 18px;
}

.R {
    color: #A92A1D;
}